[submodule "documentation"]
	path = documentation
	url = ssh://git@alphacentauri-samworks.synology.me:30001/samworks/ffhs-deep-slumber-documentation.git
[submodule "hardware"]
	path = hardware
	url = ssh://git@alphacentauri-samworks.synology.me:30001/samworks/ffhs-deep-slumber-hardware.git
[submodule "frontend"]
	path = frontend
	url = ssh://git@alphacentauri-samworks.synology.me:30001/samworks/ffhs-deep-slumber-frontend.git
[submodule "backend"]
	path = backend
	url = ssh://git@alphacentauri-samworks.synology.me:30001/samworks/ffhs-deep-slumber-backend.git
